body {
	overflow-y: hidden
}
.pointer {
     position: absolute;
     width: 3px;
     height: 20px;
     background: red;
     top: 7px;
     right: 90px;
     z-index: 2;
     -moz-transform: rotate(36deg);
    /* Firefox */
     -ms-transform: rotate(36deg);
    /* IE */
     -webkit-transform: rotate(36deg);
    /* Safari and Chrome */
     -o-transform: rotate(36deg);
    /* Opera */
     transform: rotate(36deg);
}
 .wheel-circle {
     -moz-transform: rotate(0deg);
    /* Firefox */
     -ms-transform: rotate(0deg);
    /* IE */
     -webkit-transform: rotate(0deg);
    /* Safari and Chrome */
     -o-transform: rotate(0deg);
    /* Opera */
     transform: rotate(0deg);
     position: relative;
     height: 200px;
     width: 300px;
}
 h1 {
     background: #111;
     color: #FFF;
     font-size: 20px;
     text-align: center;
     padding: 5px;
     box-sizing: border-box;
}
 p{
     font-size: 14px;
     line-height: 15px;
     margin-bottom: 5px;
     -webkit-margin-after: 5px;
     -webkit-margin-before: 0px;
}
 h3 {
     font-weight: bold;
     margin-bottom: 10px;
     margin-top: 10px;
     color: #555;
}
.error {
	background: #990000;
	color: #eee;
	line-height: 30px;
	box-sizing: border-box;
	
}
.instructions {
	background: #dedede;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	text-align: center;
}
.instructions p {
	margin-bottom: 8px;
}
#wheel {
	margin: 0 auto;
}
.score {
	background: #dedede;
	border: solid 1px #777;
	font-size: 93%;
	margin-top: 30px;
	padding: 10px;
}
.score span {
	color: #990000;
	min-height: 20px;
	display: block;
	word-break: break-word;
}
.imp {
	text-transform: uppercase;
	font-weight: bold;
}
